<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.broov.player"
    android:installLocation="auto"
    android:versionCode="14"
    android:versionName="3.4" >


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" 
        android:resizeable="true"/>
    
    <application
        android:name="org.videolan.vlc.VLCApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/mystyle" >
        <activity
            android:name=".masgb.ui.VCLPlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <intent-filter>
            <action android:name="android.intent.action.RUN" />

            <category android:name="android.intent.category.OPENABLE" />
        </intent-filter>

        <activity
            android:name=".masgb.ui.CoursingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.BBSListDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.BBSListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        
        <activity
            android:name=".masgb.ui.BBSSecondListFromCourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.BBSSecondListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
       
        
        
        <activity
            android:name=".masgb.ui.VideoPlayerOnLineActivity"
           	android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        
        <activity
            android:name=".masgb.ui.VideoPlayer"
           	android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        
        <activity
            android:name=".masgb.ui.VideoPlayerOffLineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        
        
        
        <activity
            android:name=".masgb.ui.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".masgb.ui.CourseDocListActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.DownLoadActivity"
            android:screenOrientation="landscape" >
        </activity>

        <service android:name=".masgb.service.DownloadService" >
            <intent-filter>
                <action android:name="com.broov.player.masgb.service.IDownloadService" />
            </intent-filter>
        </service>

        <activity
            android:name=".masgb.ui.CourseDescriptionActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.OtherActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".masgb.ui.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.SelectCourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.DeleteDocActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.SpecialTopicingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.SpecialTopicedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.SpecialTopicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.ForTheTopicActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.TopicListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.DownloadingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.CoursedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.StudyPlanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.FinishCourseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.ThirdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.FourthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.CourseDocExerciseActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".masgb.ui.SecondActivity"
            android:screenOrientation="landscape" >
        </activity>
        <!-- 友盟SDK配置开始 -->
        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="533a24e756240b022a07e025" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="FONEE" />
        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="appid"
            android:value="z3xbJ1RgpjAJtt3z03wBg2" />
        <meta-data
            android:name="appsecret"
            android:value="dECJyCRqmw5fPM30XRaSP9" />
        <meta-data
            android:name="appkey"
            android:value="yxptMoXHKk52jvQDXaXdz7" />
        <meta-data
            android:name="groupid"
            android:value="" />

        <activity
            android:name="com.igexin.sdk.SdkActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.GexinSdkActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.igexin.action.popupact.com.broov.player" />
                <!-- com.igexin.action.popupact.第三方的包名 -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 配置弹框activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.igexin.sdk.SdkMainService"
            android:exported="false"
            android:label="NotifyCenter"
            android:process=":pushservice" >
        </service>
        <service
            android:name="com.igexin.sdk.coordinator.SdkMsgService"
            android:exported="true"
            android:label="NotifyCenterAIDL"
            android:process=":pushservice" >
        </service>

        <!-- 个推download模块配置 -->
        <service
            android:name="sdk.download.DownloadService"
            android:process=":pushservice" />

        <receiver
            android:name="sdk.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="sdk.download.DownloadProvider"
            android:authorities="sdk.download.com.broov.player"
            android:process=":pushservice" />
        <!-- android:authorities="sdk.download.第三方包名" -->


        <!-- GetuiExt模块配置 -->
        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:exported="false"
            android:process=":pushservice" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.z3xbJ1RgpjAJtt3z03wBg2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.download.DownloadService"
            android:exported="false"
            android:process=":pushservice" />

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="increment.download.com.broov.player"
            android:exported="false"
            android:process=":pushservice" />

        <receiver
            android:name="com.igexin.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.igexin.sdk.SdkReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.igexin.sdk.coordinator.NotificationCenterAIDLReceiver" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <!-- ====================================================== -->

    </application>

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 以下为必须的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService" />

    <!-- 可选权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>